/* navigation */
#navbar{
    flex-direction: column;
}
#home{
height: 600px;
}
#home::before{
height: 600px;
}
/* services */
#services{
flex-direction: column;
}
#services-box{

}
/* client */
#client{ }
/* contact us */